@font-face {
  font-family: FaktPro;
  src: url("FaktPro-Normal.otf") format("opentype");
}

@font-face {
  font-family: FaktPro;
  font-style: italic;
  src: url("FaktPro-NormalItalic.otf") format("opentype");
}

@font-face {
  font-family: FaktPro;
  font-weight: bold;
  src: url("FaktPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: FaktPro;
  font-weight: bold;
  font-style: italic;
  src: url("FaktPro-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: PxGrotesk;
  src: url("PxGrotesk-Bold.otf") format("opentype");
}

@font-face {
  font-family: PxGrotesk;
  font-style: italic;
  src: url("PxGrotesk-BoldIta.otf") format("opentype");
}

html {
  background: #000;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: FaktPro;
}

.video {
  height: auto;
  position: absolute;
  bottom: 320px;
  display: block;
  width: 100%;
  background: #000;
}

.video::cue {
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  background: #000;
  font-family: FaktPro;
  font-weight: bold;
}

.video_progress {
  position: absolute;
  height: 3px;
  background: #ccc;
  z-index: 1;
  margin-top: -3px;
  transform-origin: left;
  width: 100%;
}

.list_cont {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  padding: 0 220px;
  box-sizing: border-box;
  background: #000;
}

.list_cont:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 200%;
  transform: translateY(-50%);
  left: 0;
  top: 50%;
  z-index: 1;
  box-shadow: inset 0 0 80px 80px #000;
  pointer-events: none;
}

.list {
  white-space: nowrap;
  /*transition: transform 200ms;*/
}

.list_item {
  display: inline-block;
  vertical-align: top;
  width: 320px;
  height: 320px;
  white-space: normal;
  background: #000 center/cover;
  user-select: none;
  position: relative;
  overflow: hidden;
}

.list_item:before {
  position: absolute;
  content: " ";
  width: 200%;
  height: 200%;
  transform: translateX(-25%);
  left: 0;
  bottom: 0;
  z-index: 0;
  box-shadow: inset 0 0 80px 80px #000;
  pointer-events: none;
}

.list_item_inner {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 15px 20px;
}

.list_item.active {
  width: 640px;
  background-image: none !important;
}

.list_item.active:before {
  display: none;
}

.list_item.active .list_item_inner {
  position: static;
}

.list_item_title {
  font-family: PxGrotesk;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #fff;
}

.list_item_secondary_title {
  color: #fff;
  font-size: 24px;
  line-height: 34px;
}

.list_item_description {
  opacity: 0;
  margin-top: 15px;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  font-size: 24px;
  line-height: 34px;
  height: 0;
}

.active .list_item_description {
  opacity: 1;
  height: auto;
}
