<!doctype html>
<html>
  <head>
    <title>Spotlights: {{ playlist_json.title }}</title>
    <link type="text/css" rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>

  <body>
    <div id="root"></div>
    <script>
      window.playlist_labels = {{ playlist_json.playlist_labels|tojson }}
    </script>
    <script src="/static/index.js"></script>
    <div id="error-dialogue" class="error-dialogue closed">
      <div id="error-dialogue-text" class="error-dialogue-text">Error</div>
      <div class="error-dialogue-close" />
    </div>
  </body>
</html>
